---
layout: right-sidebar
title: about me
permalink: /about
redirect_from: "/p/about-me.html"
---
<article>
  <h1>About Me</h1>
  <p>My name is Dylan Beattie. I'm a software development consultant, <a href="/speaking">conference speaker</a> and <a
      href="/music/">musician</a> based in London, UK. I'm the founder and director of <a href="https://ursatile.com/">Ursatile</a>,
      an independent consultancy specialising in software development, communications training
      and technology strategy.</p>
  <p>    
      I'm the creator of the <a
      href="https://codewithrockstar.com/">Rockstar</a>
    programming language, and I'm a <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002699">Microsoft MVP</a>
    for Visual Studio and Development Technologies. This blog and all content and
    opinions are my own.</p>
  <p>You can <a href="https://twitter.com/dylanbeattie">follow me on Twitter</a>, read <a
      href="https://github.com/dylanbeattie">my code on GitHub</a>, view <a
      href="https://stackoverflow.com/users/5017/dylan-beattie">my profile on StackOverflow</a>, <a
      href="https://www.youtube.com/dylanbeattie">hear my music on YouTube</a> and see <a
      href="https://www.flickr.com/photos/dylanbeattie/albums">my photographs on Flickr</a>. You can even email me at <a
      href="mailto:dylan@dylanbeattie.net">dylan@dylanbeattie.net</a> if you really want to.</p>
  <h2>Speaker Bios</h2>
  <p>If you're looking for a speaker bio or photographs for your event website, help yourself!</p>
</article>
<article>
  <h3>The Really Short Bio</h3>
  <p>Dylan Beattie designs software, builds websites and makes music. He lives in London.</p>
</article>
{% for bio in site.data.speaker_bios %}
<article>
  <h3>
    <span class="clipboard-links">
      <a href="#" data-src-element-id="bio-{{ bio.title }}-html">copy html</a>
      <a href="#" data-src-element-id="bio-{{ bio.title }}-markdown">copy markdown</a>
      <a href="#" data-src-element-id="bio-{{ bio.title }}-text">copy text</a>
    </span>
    {{ bio.word_count }}-Word Bio ({{ bio.char_count }} characters)
  </h3>
  {{ bio.content | markdownify }}
  <input type="hidden" id="bio-{{ bio.title }}-markdown" value="{{ bio.content }}" />
  <input type="hidden" id="bio-{{ bio.title }}-html" value="{{ bio.content | markdownify | escape_once }}" />
  <input type="hidden" id="bio-{{ bio.title }}-text" value="{{ bio.content | markdownify | strip_html }}" />
</article>
{% endfor %}
<h2>Photos</h2>
<div class="container" id="mugshots">
  <div class="row">
    {% for pic in site.data.mugshots %}
    <figure class="col-4 col-6-narrower col-12-mobilep">
      <a href="/images/mugshots/fullsize/{{ pic.filename}}">
        <img src="/images/mugshots/800x800/{{ pic.filename}}"
          alt="Photograph of Dylan Beattie from {{ pic.caption }}" />
      </a>
      <figcaption>{{ pic.caption }}</figcaption>
      <cite>Credit: <a href="{{pic.credit_url}}">{{pic.credit}}</a></cite>
    </figure>
    {% endfor %}
  </div>
</div>