---
layout: right-sidebar
title: past events
permalink: /past-events
---
  <h2>Past Events</h2>
  <p>Yes, I go to a lot of places and do a lot of talks.</p>
  {% assign countries = "" | split: "" %}
  {% for event in site.data.schedule %}
    {% unless countries contains event.country %}
      {% assign countries = countries | push: event.country %}
    {% endunless %}
  {% endfor %}
  <div class="country-flags">
    {% for country in countries %}
      <img src="/assets/css/images/flags/flat/48/{{ country }}.png" alt="{{ country }}" title="{{ country }}" />
    {% endfor %}
  </div>
  {% assign year = site.time | date: "%Y" %}
  {% assign count = 0 %}
  <hr />
  <h1>{{ year }}</h1>
  <ol class="event-list">
  {% assign past_events = site.data.schedule | where_exp: 'event', 'event.isodate < site.time' | sort: 'isodate' %}
  {% assign past_events = site.data.schedule | sort: 'isodate' %}
  {% for e in past_events reversed %}
    {% assign count = count | plus: 1 %}
    {% assign list_year = e.isodate | date: "%Y" %}
    {% if list_year != year %}
      {% assign year = list_year %}
      </ol>
      <p>{{ count }} events</p>
      {% assign count = 0 %}
      <hr />
      <h1>{{ year }}</h1>
      <ol class="event-list">
    {% endif %}
    <li class="flag-{{ e.country }}">
    {% if e.url %}
    <a href="{{ e.url }}">{{ e.title}}</a>
    {% else %}
    <a>{{ e.title}}</a>
    {% endif %}
    <br />{{e.date}}, {{ e.city }}
    </li>
    {% endfor %}
</ol>
