<div class="giscus" style="margin-top: 2em;" id="giscus-comments"></div>
<script src="https://giscus.app/client.js"
        data-repo="dylanbeattie/dylanbeattie.net"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxOTg1MDk1Njg="
        data-category="Announcements"
        data-category-id="DIC_kwDOC9UEAM4C5sKq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
