<!-- Icons -->
<ul class="icons">
	<li><a href="https://twitter.com/dylanbeattie" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="https://facebook.com/dylanbeattie" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
	<li><a href="https://github.com/dylanbeattie" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
	<li><a href="https://linkedin.com/in/dylanbeattie" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
	<li><a href="https://youtube.com/dylanbeattie" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
	<li><a href="https://stackoverflow.com/users/5017/dylan-beattie" class="icon brands fa-stack-overflow"><span class="label">Stack Overflow</span></a></li>
</ul>

<!-- Copyright -->
<div class="copyright">
	<ul class="menu">
		<li>&copy; <a href="mailto:dylan@dylanbeattie.net">Dylan Beattie</a> 2008-2019. All rights reserved</li>
		<li>Design: <a href="https://html5up.net/arcana">Arcana</a> by <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
</div>