<meta charset="utf-8">
<base href="{{ site.url }}/">
<link href="https://dylanbeattie.net/feed.xml" rel="alternate" title="Atom feed: dylanbeattie.net"
  type="application/atom+xml" />
<link href="https://dylanbeattie.net/rss.xml" rel="alternate" title="RSS feed: dylanbeattie.net"
  type="application/rss+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/arcana.css" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="/.obsidian/snippets/images.css" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<meta name="twitter:card" content="{{ page.meta.twitter_card }}" />
<meta name="twitter:site" content="@dylanbeattie" />
<meta name="twitter:creator" content="@dylanbeattie" />
<meta name="twitter:image" content="{{ site.url }}{{ page.meta.og_image }}" />

<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }} : dylanbeattie.net" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ page.meta.og_description }}" />
<meta property="og:image" content="{{ site.url }}{{ page.meta.og_image }}" />
<meta property="fb:app_id" content="534656893997390" />

<!-- fathom analytics -->
<script src="https://numberwang.dylanbeattie.net/script.js" data-site="QYGEDCLJ" defer></script>
<title>{{ page.title }} : dylanbeattie.net</title>
