<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4266979-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4266979-9');
</script>
<title>{{ page.title }} : dylanbeattie.net</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/arcana.css" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
