<!-- Logo -->
<h1><a href="/" id="logo">dylan beattie <em>dot net</em></a></h1>
<!-- Nav -->
<nav id="nav">
  <ul>
    {% for link in site.data.nav_menu %}
    {% if page.url == link.href %}
    <li class="current"><a href="{{link.href}}">{{link.text}}</a></li>
    {% else %}
    <li><a href="{{link.href}}">{{link.text}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
<a id="dometrain-banner"
  href="https://dometrain.com/course/from-zero-to-hero-sending-email-with-dotnet/?ref=dylan-beattie&promo=website&coupon_code=SUMMER30">
  <div>
    <h4>SENDING EMAIL IN .NET: <span>FROM ZERO TO HERO</span></h4>
    <p>by Dylan Beattie</p>
    <em>(that's right, I made a video course! It's AWESOME. You should buy it.)</em>
    <span style="display: block; text-align: left;">Now available at Dometrain.com</span>
  </div>
</a>

