<p>I do interesting things with computers, code, comedy, music and video – then I travel all over the
	world and tell people about it. (Or at least, I used to - now we do it all on Zoom.) I run <a href="https://ursatile.com">Ursatile</a>, a fully online
	training company for remote workers and software professionals. I'm a keynote speaker, a Microsoft MVP, I created
	 <a href="https://codewithrockstar.com/">Rockstar</a> - a programming language which
	started as a joke and ended up in Classic Rock magazine - and I
	own the <a href="http://ibless.therains.downin.africa/">best web address in the
		history of the internet</a>.</p>
