<p>I do interesting things with computers, code, comedy, music and video, then I travel all over the
	world and tell people about it. I provide software training and consultancy through my company <a href="https://ursatile.com">Ursatile</a>. I'm a keynote speaker, I'm a <a
		href="https://mvp.microsoft.com/en-us/PublicProfile/5002699">Microsoft MVP</a>,
	I created <a href="https://codewithrockstar.com/">Rockstar</a>, an esoteric programming language that
	started as a joke and ended up in Classic Rock magazine, and I
	own the <a href="http://ibless.therains.downin.africa/">best web address in the
		history of the internet</a>.
</p>