<p>I do interesting things with computers, code,
  comedy, music and video, then I travel all over the
  world and tell people about it. I write code, I
  speak at conferences, I <a href="/workshops">teach people how
  to design distributed systems, build web apps,
  and give presentations</a>.
  I created <a href="https://linebreakers.band/">The Linebreakers</a>, the world's best
  tech comedy alt-punk disco party rock'n'roll band.
  I'm a <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002699">Microsoft MVP</a>,
  I created <a href="https://codewithrockstar.com/">Rockstar</a>, an esoteric programming language that
  started as a joke and ended up in Classic Rock magazine, and I
  own the <a href="http://ibless.therains.downin.africa/">best web address in the
    history of the internet</a>.
</p>
