<!-- Sidebar -->

<section id="about-me">
	<img src="/images/dylanbeattie_800x800.jpg" />
	<h4>Hi there. I'm Dylan.</h4>
	{% include me_blurb.html %}
	<!--
	<p>
		<a href="https://stackoverflow.com/users/5017/dylan-beattie" class="stack-overflow-profile" title=" profile for dylan beattie at stack
			overflow, q&amp;a for professional and enthusiast programmers">
			<img src="/images/stack_overflow_icon_left_half.png">
		</a>
	</p>

	<p><a href="https://mvp.microsoft.com/en-us/PublicProfile/5002699?fullName=Dylan%20%20Beattie">
			<img src="/images/mvp_logo_horizontal_240px.png"></a></p>
				-->
</section>
<!--
<section id="schedule">
	<h4>Events and Meetups</h4>
	<p>Here's what I'm doing over the next few months.
	</p>
	{% include schedule.html %}
	<small> All subject to change, cancellation, virtualisation, postponement,
		rescheduling and other side-effects of life in 2020.</small>
</section>
-->
<!--
<section>
	<h3>Right Sidebar</h3>
	<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
		Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
		Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
	<footer>
		<a href="#" class="button">Continue Reading</a>
	</footer>
</section>

<section>
	<h3>Another Subheading</h3>
	<ul class="links">
		<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
		<li><a href="#">Ornare in hendrerit in lectus</a></li>
		<li><a href="#">Semper mod quis eget mi dolore</a></li>
		<li><a href="#">Consequat etiam lorem phasellus</a></li>
		<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
		<li><a href="#">Semper mod quisturpis nisi</a></li>
	</ul>
	<footer>
		<a href="#" class="button">More Random Links</a>
	</footer>
</section>
-->