<!-- Sidebar -->

<section>
	<img src="/images/dylanbeattie_800x800.jpg" style="width: 100%;" />
	<h3>Hello. I'm Dylan.</h3>
	{% include me_blurb.html %}
	<p id="social-media-icons">
		<a title="My profile on Facebook" href="https://www.facebook.com/dylanbeattie" class="facebook">Facebook</a>
		<a title="dylanbeattie on Twitter" href="https://twitter.com/dylanbeattie" class="twitter">Twitter</a>
		<a title="dylanbeattie on GitHub" href="https://github.com/dylanbeattie" class="github">GitHub</a>
		<a title="dylanbeattie-1 on SoundCloud" href="https://soundcloud.com/dylanbeattie-1"
			class="soundcloud">SoundCloud</a>
		<a title="Dylan Beattie on LinkedIn" href="https://uk.linkedin.com/in/dylanbeattie"
			class="linkedin">LinkedIn</a>
		<!--<a href="http://stackoverflow.com/users/5017/dylan-beattie"><span class="social-media-icon stackoverflow"/></span></a>-->
		<a title="dylanbeattie's channel on YouTube" href="https://youtube.com/dylanbeattie" class="youtube">YouTube</a>
	</p>
	<!--
	<p>
		<a href="https://stackoverflow.com/users/5017/dylan-beattie" class="stack-overflow-profile" title=" profile for dylan beattie at stack
			overflow, q&amp;a for professional and enthusiast programmers">
			<img src="/images/stack_overflow_icon_left_half.png">
		</a>
	</p>
	-->
	<p><a href="https://mvp.microsoft.com/en-us/PublicProfile/5002699?fullName=Dylan%20%20Beattie">
			<img src="/images/mvp_logo_horizontal_240px.png"></a></p>
</section>

<section>
	<h3>Conferences &amp; Meetups</h3>
	<p>I'll be appearing at these events over the next few months:</p>
	<div class="schedule">
		<p class="flag-se">7-8 Feb: <a href="https://swetugg.se/swetugg-2019">Swetugg</a><br />
			Stockholm, Sweden</p>
		<p class="flag-pt"> 28 Feb - 1 Mar: <a href="https://ndcporto.com/">NDC
				Porto</a><br />
			Porto, Portugal</p>
		<p class="flag-ru"> 30-31 Mar: <a href="https://2019.codefest.ru/">CodeFest</a><br />
			Novosibirsk,
			Russia</p>
		<p class="flag-ua">
			13 Apr: <a href="https://fwdays.com/en/event/dotnet-fwdays-2019">.NET
				fwdays</a><br /> Kyiv, Ukraine</p>
		<p class="flag-gb">
			1-2 May: <a href="https://skillsmatter.com/conferences/11735-beyondtech-2019">BeyondTech</a><br /> London,
			UK</p>
		<p class="flag-es">
			4-5 May: <a href="https://www.buildstuff.es/">BuildStuff</a><br /> Malaga,
			Spain</p>
		<p class="flag-be"> 20-22 May: <a href="https://techorama.be/">Techorama</a><br />
			Antwerp,
			Belgium</p>
		<p class="flag-se"> 23-24 May: <a href="https://www.devsum.se/">DevSum19</a><br />
			Stockholm,
			Sweden</p>

		<!--
		<img src="/images/flags/shiny/64/gb.png" /> 12-14 September: <a href="https://prognet.io/">ProgNET</a>, London, UK<br />
		<img src="/images/flags/shiny/64/au.png" /> 19-21 September: <a href="https://ndcsydney.com/">NDC</a>, Sydney, Australia<br />
		<img src="/images/flags/shiny/64/scotland.png" /> 27 September: <a href="https://scotsoft.scot/developers/">ScotSoft</a>, Edinburgh, Scotland<br />
		<img src="/images/flags/shiny/64/gb.png" /> 8 October: <a href="https://www.technottingham.com/events/">Tech Nottingham</a>, Nottingham, UK<br />
		<img src="/images/flags/shiny/64/se.png" /> 13 October: <a href="https://leetspeak.se/2018/">LeetSpeak</a>, Malmo, Sweden<br />
		<img src="/images/flags/shiny/64/ua.png" /> 26-27 October: <a href="http://dotnetfest.com/">.NET Fest 2018</a>, Kyiv, Ukraine<br />
		
		<img src="/images/flags/shiny/64/lt.png" /> 16-18 November: <a href="https://www.buildstuff.lt/">BuildStuff</a>, Vilnius, Lithuania<br />
		
		<img src="/images/flags/shiny/64/ru.png" /> 22-24 November: <a href="https://dotnext-moscow.ru/">DotNext</a>, Moscow, Russia<br />
		
		<img src="/images/flags/shiny/64/lv.png" /> 30 November: <a href="https://devternity.com/">DevTernity</a>, Riga, Latvia<br />
		
		</p>
		
		
		<p>Want me to come and speak at your conference or user group? <a href="mailto:dylan@dylanbeattie.net">Get in touch</a> and let's make it happen!</p>
		
		<img src="/images/flags/shiny/64/gb.png" /> 8 August: 
		<a href="https://www.meetup.com/Birmingham-Xamarin-Mobile-Cross-Platform-User-Group/events/247954247/">Xamarin UG</a>, Birmingham, UK<br />
		
		<img src="/images/flags/shiny/64/gb.png" /> 15-19 January: <a href="https://ndc-london.com/">NDC</a>, London, UK<br />
		<img src="/images/flags/shiny/64/dk.png"/> 14-16 March: <a href="https://cph.ndcmini.com/">NDC Mini</a>, Copenhagen, Denmark<br />
		<img src="/images/flags/shiny/64/ru.png" /> 31 March - 1 April: <a href="https://2018.codefest.ru/speakers/en/">CodeFest</a>, Novosibirsk, Russia<br />
		<img src="/images/flags/shiny/64/ru.png" /> 22-23 April: <a href="https://dotnext-piter.ru/">DotNext</a>, St Petersburg, Russia<br />
		<img src="/images/flags/shiny/64/us.png" /> 7-10 May: <a href="https://ndcminnesota.com/">NDC</a>, Minnesota, USA<br />
		<img src="/images/flags/shiny/64/lv.png" /> 29-30 May: <a href="https://rigadevdays.lv/">DevDays</a>, Riga, Latvia<br />
		
		<img src="/images/flags/shiny/64/se.png" /> 31 May - 1 June: <a href="http://devsum.se/">DevSum</a>, Stockholm, Sweden<br />
		<img src="/images/flags/shiny/64/no.png" /> 14-16 June: <a href="http://ndcoslo.com/">NDC</a>, Oslo, Norway<br />
		<img src="/images/flags/shiny/64/gb.png" /> 11-13 July: <a href="https://skillsmatter.com/conferences/8264-fullstack-2017-the-conference-on-javascript-node-and-internet-of-things">FullStack 2018</a>, London,
		<img src="/images/flags/shiny/64/pl.png" /> 28 October: <a href="https://konferencjaget.net/en/gdansk">Get.NET</a>, Gdansk, Poland<br />
		<img src="/images/flags/shiny/64/ru.png" /> 12-13 November: <a href="https://dotnext-moscow.ru/">DotNext</a>, Moscow, Russia<br />
		<img src="/images/flags/shiny/64/lt.png" /> 15-19 November: <a href="http://buildstuff.lt">BuildStuff</a>, Vilnius, Lithuania<br />
		<img src="/images/flags/shiny/64/gb.png" /> 29 November: <a href="https://hulldevs.net/#tickets">Hull Devs</a>, Hull, UK<br />
		</p>
		<h3 style="margin-bottom: 8px border-top: 1px solid #999 padding-top: 4px">2018</h3>
		<p class="events-list">
		<img src="/images/flags/shiny/64/gb.png" /> 4 April: <a href="http://brightonalt.net/4-April-2017.ashx">BrightonALT.NET</a>, Brighton, UK<br />
		<img src="/images/flags/shiny/64/gb.png" /> 11 April: <a href="https://www.meetup.com/London-NET-User-Group/events/237160759/">London.NET User Group</a>, London, UK<br />
		<img src="/images/flags/shiny/64/gb.png" /> 12 April: <a href="https://www.meetup.com/Birmingham-Xamarin-Mobile-Cross-Platform-User-Group/events/238243425/">Xamarin User Group</a>, Birmingham, UK<br />
		<img src="/images/flags/shiny/64/es.png" /> 29-30 April: <a href="http://buildstuff.lt/summer/">BuildStuff</a>, Mallorca, Spain<br />
		<img src="/images/flags/shiny/64/ru.png" /> 19-20 May: <a href="https://dotnext-piter.ru/">DotNext</a>, St Petersburg, Russia<br />
		<img src="/images/flags/shiny/64/il.png" /> 23-25 May: <a href="http://www.seladeveloperpractice.com/">Sela Developer Practice</a>, Tel Aviv, Israel<br />
		<img src="/images/flags/shiny/64/no.png" /> 14-16 June: <a href="http://ndcoslo.com/">NDC</a>, Oslo, Norway<br />
		<img src="/images/flags/shiny/64/gb.png" /> 12-14 July: <a href="https://skillsmatter.com/conferences/8264-fullstack-2017-the-conference-on-javascript-node-and-internet-of-things">FullStack 2017</a>, London, UK<br />
		<img src="/images/flags/shiny/64/gb.png" /> 18 July: <a href="https://www.meetup.com/Net-Bournemouth/">.NET Bournemouth</a>, Bournemouth, UK<br />
		<img src="/images/flags/shiny/64/gb.png" /> 22 August: <a href="http://meetu.ps/e/D2cz5/1kKdC/a">Dot Net South East</a>, Brighton, UK<br />
		<img src="/images/flags/shiny/64/gb.png" /> 30 August: <a href="https://www.meetup.com/Women-Who-Code-London/events/242191462/">Women Who Code</a>, London, UK<br />
		<img src="/images/flags/shiny/64/gb.png" /> 13-15 September: <a href="https://skillsmatter.com/conferences/8268-progressive-dot-net-tutorials-2017">Progressive.NET Tutorials 2017</a>, London, UK<br />
		<img src="/images/flags/shiny/64/by.png" /> 23 September: <a href="https://www.facebook.com/events/1372271839492518/">.NET Summit</a>, Minsk, Belarus<br />
		<img src="/images/flags/shiny/64/gb.png" /> 10 October: <a href="https://www.meetup.com/DotNetNorth/">DotNetNorth</a>, Manchester, UK<br />
		-->
	</div>
</section>
<section>
	<h3>All Posts</h3>
	{% include post-list.html %}
</section>
<!--
<section>
	<h3>Right Sidebar</h3>
	<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
		Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
		Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
	<footer>
		<a href="#" class="button">Continue Reading</a>
	</footer>
</section>

<section>
	<h3>Another Subheading</h3>
	<ul class="links">
		<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
		<li><a href="#">Ornare in hendrerit in lectus</a></li>
		<li><a href="#">Semper mod quis eget mi dolore</a></li>
		<li><a href="#">Consequat etiam lorem phasellus</a></li>
		<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
		<li><a href="#">Semper mod quisturpis nisi</a></li>
	</ul>
	<footer>
		<a href="#" class="button">More Random Links</a>
	</footer>
</section>
-->