p {

	color: blue;
	color: #00f;
	color: #00ff;
	color: #0000ff;
	color: #0000ffff;
	color: rgb(0% 0% 100%);
	color: rgb(0 0 255);
	
	color: hsl(240 100% 50%);
	color: hsl(240deg 100% 50%);
	color: hsl(4.12rad 100% 50%);
	color: hsl(266grad 100% 50%);
	color: hsl(0.67turn 100% 50%);
	color: hsl(240 100 50%);
	color: hsl(240deg 100 50%);
	color: hsl(4.12rad 100 50%);
	color: hsl(266grad 100 50%);
	color: hsl(0.67turn 100 50%);
	color: hsl(240 100% 50);
	color: hsl(240deg 100% 50);
	color: hsl(4.12rad 100% 50);
	color: hsl(266grad 100% 50);
	color: hsl(0.67turn 100% 50);
	color: hsl(240 100 50);
	color: hsl(240deg 100 50);
	color: hsl(4.12rad 100 50);
	color: hsl(266grad 100 50);
	color: hsl(0.67turn 100 50);
	color: hwb(240 0 0);
	color: hwb(240deg 0 0);
	color: hwb(4.12rad 0 0);
	color: hwb(266grad 0 0);
	color: hwb(0.67turn 0 0);
	color: hwb(240 0% 0);
	color: hwb(240deg 0% 0);
	color: hwb(4.12rad 0% 0);
	color: hwb(266grad 0% 0);
	color: hwb(0.67turn 0% 0);
	color: hwb(240 0 0%);
	color: hwb(240deg 0 0%);
	color: hwb(4.12rad 0 0%);
	color: hwb(266grad 0 0%);
	color: hwb(0.67turn 0 0%);
	color: hwb(240 0% 0%);
	color: hwb(240deg 0% 0%);
	color: hwb(4.12rad 0% 0%);
	color: hwb(266grad 0% 0%);
	color: hwb(0.67turn 0% 0%);
	color: lab(29.6% 68.3 -112);
	color: lab(29.6 68.3 -112);
	color: lab(29.6% 54.6% -112);
	color: lch(29.57% 131.2 301.36);
	color: lch(29.57% 87% 301.36);
	color: lch(29.57% 87% 301.36deg);
	color: lch(29.57% 87% 5.26rad);
	color: lch(29.57% 87% 334grad);
	color: lch(29.57% 87% 0.83turn);
	color: oklab(45.2% -0.03 -0.31);
	color: oklab(45.2% -7.5% -0.31);
	color: oklab(45.2% -0.03 -77.5%);
	color: oklab(45.2% -7.5% -77.5%);
	color: oklab(0.452 -7.5% -0.31);
	color: oklab(0.452 -0.03 -77.5%);
	color: oklab(0.452 -7.5% -77.5%);
	color: oklch(0.452 0.31 264);
	color: oklch(0.452 0.31 264deg);
	color: oklch(0.452 0.31 4.6rad);
	color: oklch(0.452 0.31 292grad);
	color: oklch(0.452 0.31 0.73turn);
	color: oklch(45.2% 0.31 264);
	color: oklch(45.2% 0.31 264deg);
	color: oklch(45.2% 0.31 4.6rad);
	color: oklch(45.2% 0.31 292grad);
	color: oklch(45.2% 0.31 0.73turn);
	color: oklch(0.452 77.5% 264);
	color: oklch(0.452 77.5% 264deg);
	color: oklch(0.452 77.5% 4.6rad);
	color: oklch(0.452 77.5% 292grad);
	color: oklch(0.452 77.5% 0.73turn);
	color: oklch(45.2% 77.5% 264);
	color: oklch(45.2% 77.5% 264deg);
	color: oklch(45.2% 77.5% 4.6rad);
	color: oklch(45.2% 77.5% 292grad);
	color: oklch(45.2% 77.5% 0.73turn);
}