---
---

@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/html-grid";
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import "flags";
@import "syntax";

@include breakpoints(
  (
    wide: (
      1281px,
      1680px
    ),
    normal: (
      981px,
      1280px
    ),
    narrow: (
      841px,
      980px
    ),
    narrower: (
      737px,
      840px
    ),
    mobile: (
      481px,
      736px
    ),
    mobilep: (
      null,
      480px
    )
  )
);

article {
  h1 {
    font-size: 120%;
    margin-bottom: 0.5em;
  }
  text-align: justify;
  cite {
    font-size: 0.8em;
    font-style: italic;
    &.byline {
      display: block;
      margin: 0.5em 0;
    }
  }
  hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: _palette(accent, bg);
    margin: 20px 0;
  }
  img {
    max-width: 100%;
  }
}

.clipboard-links {
  float: right;
  font-size: 0.8em;
  font-weight: normal;
  a {
    background-color: #ccc;
    padding: 2px;
    border: 1px solid #666;
    border-radius: 4px;
  }
}

div#sidebar {
  section#about-me {
    img {
      border-radius: 10px;
      width: 100%;
    }
  }
  a {
    border: 0;
  }
  div.schedule {
    p {
      font-size: 12px;
      text-align: left;
      background-size: 48px 48px;
      background-repeat: no-repeat;
      background-position: left center;
      padding: 8px 0 8px 54px;
      margin: 4px 0;
      line-height: 1.4em;
      position: relative;
      border-bottom: 1px solid #999;
      a {
        font-weight: bold;
        font-size: 16px;
        img {
          position: absolute;
          left: 0;
          top: 0;
          border: 1px solid #000;
        }
      }
    }
  }
  p {
    line-height: 1.6em;
    font-size: 0.8em;
    text-align: justify;
  }

  ul.playlist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 1.1em;
      padding: 10px 0;
      border-top: 1px solid #000;
      height: 110px;
      img {
        width: 160px;
        height: 90px;
        float: left;
        margin-right: 10px;
      }
      p {
        font-size: 0.875em;
        line-height: 1.2em !important;
      }
    }
  }
}

ul.archives {
  list-style-type: none;
  margin: 0;
  padding: 0;

  h2 {
    font-size: 1.2em;
    border-top: 2px solid _palette(border);
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }

  & > li {
    margin: 0;
    padding: 0;
    & > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      h3 {
        font-size: 1em;
        margin: 0px;
        padding: 0px;
      }

      & > li {
        margin: 0;
        padding: 0;
        & > ul {
          list-style-position: inside;
          list-style-type: disc;
          margin-bottom: 0;
          & > li {
            padding: 0;
            a {
              border: 0;
            }
          }
        }
      }
    }
  }
}

div#mugshots {
  font-size: 0.8em;
  figure {
    a {
      text-decoration: none;
      border: 0;
      img {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #000;
      }
    }
  }
  figcaption,
  cite {
    display: block;
    margin: 0 0 4px 0;
    padding: 0;
    line-height: 1em;
  }
}

div#video-player {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

article ul.playlist {
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.4em;
    height: 200px;
    a {
      border: 0px !important;
      strong {
        display: block;
        height: 60px;
      }
    }
    img {
      width: 224px;
      height: 126px;
      border: 1px solid #000;
    }
  }
}
section#banner {
  position: relative;
  cite#banner-photo-credit {
    font-family: 'Roboto', sans-serif;
    line-height: 10px;
    margin: 0;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    a {
      border: 0;
      color: #fff;
      text-decoration: underline;
    }

    @include breakpoint("<=mobilep") {
      display: none;
    }
  }
}

div.highlight {
  pre {
    font-family: Consolas, courier, monospace;
    font-size: 0.8em;
    padding: 5px;
    line-height: 1.4em;
  }
  border: 1px solid #ccc;
  overflow-x: auto;
  margin: 8px 0;
}

p > code {
  border: 1px solid #ddd;
  background-color: #eee;
  font-family: Consolas, courier, monospace;
  font-size: 0.8em;
  padding: 2px 2px 0px 2px;
  border-radius: 4px;
}


article {
  dl {
    dt {
      font-weight: bold;
      margin: 8px;
    }
    dd {
      margin-left: 16px;
    }
  }
  &.transcript {
    img {
      display: block;
      width: 80%;
      margin: 16px auto;
        
      @include breakpoint('<=mobile') {
        width: 100%;
      }
    }
  }
}