---
layout: default
---
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-3 col-12-narrower">
				<div id="sidebar1">
					{% include left-sidebar.html %}
				</div>
			</div>
			<div class="col-6 col-12-narrower imp-narrower">
				<div id="content">
					{{ content }}
				</div>
			</div>
			<div class="col-3 col-12-narrower">
				<div id="sidebar2">
					{% include right-sidebar.html %}
				</div>
			</div>
		</div>
	</div>
</section>