---
layout: default
---
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-9 col-12-narrower">
				<div id="content">
					<article class="{{ page.css-class }}">
						<h1>Workshops &raquo; {{ page.title }} </h1>

						{% if page.dates %}
						{% assign upcoming_dates = page.dates | where_exp: "date",
						"date.isodate
						>= site.time" | sort: "isodate" %}
						{% if upcoming_dates %}
						<section class="workshop-info">
							{% for next_date in upcoming_dates %}
							<div class="workshop-date">
								<div>
									<strong>{{ next_date.date }}</strong><br>
									{{ next_date.time }}<br>
									{{ next_date.venue }}<br>
									{{ next_date.cost }}
								</div>
								{% if next_date.url %}<a href="{{ next_date.url }}"
									class="book-now">Book
									now</a>{% endif %}
							</div>
							{% endfor %}
							{% endif %}
						</section>
						{% endif %}

						{{ content }}
					</article>
				</div>
			</div>
			<div class="col-3 col-12-narrower">
				<div id="sidebar">
					{% include right-sidebar.html %}
				</div>
			</div>
		</div>
	</div>
</section>
